<h1>Change <%=@figure.name%></h1>

<form action="/figures/<%=@figure.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
<label for="figure_name">New Name: </label>
<input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>">
<br></br>

<label>Existing Title:</label><br>
<%Title.all.each do |title|%>
  <label><%= title.name %></label>
  <input id="title_<%=title.id%>" type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" <%='checked' if @figure.titles.include?(title)%>>
<%end%><br>
<label>Add New Title:</label>
 <input type="text" id="new_title" name="title[name]"><br></br>


 <label>Existing Landmarks:</label><br>
 <%Landmark.all.each do |landmark| %>
    <label><%= landmark.name %></label>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="<%= landmark.name %>" <%='checked' if @figure.landmarks.include?(landmark) %>>
  <%end%>
  <br></br>
<label for="new_landmark">Add New Landmark: </label><br>
<input type="text" name="landmark[name]" id="new_landmark" value="New Landmark Name"><br>
<input type="text" name="landmark[year_completed]" id="year_completed" value="Year Completed"><br>

<input type="submit" value="Edit Figure"
</form>
